form {
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
}
.card {
    background-color: #DDD;
    box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
}
#front {
    grid-template-columns: 70% 30%;
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 2;
}
#back {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 80% 20%;
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 1;
}
#back hr {  
    width: 100%;
    height: 50%;
    grid-column: 1/3;
    background-color: black;
}

#total {
    grid-area: 1 / 1 / 2 /2;
}
#emoji {
    justify-self: right;
    font-size: xx-large;
    margin: 0;
}
#number {
    grid-area: 2/1/3/2;
}
#holder {
    grid-area: 3/1/4/2;
}
#expiration {
    grid-area: 3/2/4/3;
    display: grid;
    grid-template-rows: 17.6px auto;
    grid-template-columns: 1fr 1fr;
}
#expiration label{
    grid-column: 1/3;
}
#month {
    grid-column: 1/2;
    grid-row: 2/3;
}
#year {
    grid-column: 2/3;
    grid-row: 2/3;
}

#code {
    justify-self: center;
    text-align: center;
    grid-area: 3/2/4/3;
    width: 90%;
}

input {
    width: 80%;
    height: 2em;
}

#submit {
    grid-area: 4/3/5/4;
    margin-top: 20px;
    width: 100%;    
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}