body {
    background-color: rgb(94, 183, 212);
    margin: 0;
    text-align: center;
}
header {
    color: white;   
}

nav {
    display: none;
}
nav a{
    color: white;
    width: 100%;
    margin: 5px;
}
.open {
    display: flex;
    flex-wrap: wrap;
}

main {
    background-color: lightgray;
}
#gallery {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-item {
    width: 300px;
    margin: 10px 20px;
    border: 5px solid white;
    aspect-ratio: 1 / 1;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
footer {
    color: white;
}

@media screen and (min-width: 1100px) {
    #menu-btn {
        display: none;
    }
    nav {
        display: block;
    }
}