body {
    background-color: white;
    padding: 30px;
}
#content {
    border: 2px lightgray solid;
    text-align: center;
    padding: 50px 100px 20px 100px;
}
header p {
    color: #0077cc;
}
main {
    text-align: left;
}
#logo {
    width: 200px;
}
